<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">ZOO</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <div class="search-container">
        <input type="text" placeholder="🔍 Search for a specie...">
    </div>
    <h2 class="subtitulo">Species</h2>
    <div class="species-container">
        <div class="species-card">🐻 <strong class="letter">Bear</strong><br> Carnivorous, plantigrade mammal.</div>
        <div class="species-card">🐯 <strong class="letter">Tiger</strong><br> Carnivorous feline mammal native to Asia.</div>
        <div class="species-card">🦁 <strong class="letter">Lion</strong><br> Carnivorous mammal, known as the "king of the jungle".</div>
        <div class="species-card">🐺 <strong class="letter">Wolf</strong><br> Carnivorous mammal, ancestor of the domestic dog.</div>
        <div class="species-card">🦊 <strong class="letter">Fox</strong><br> Small, cunning mammal of the canine family.</div>
        <div class="species-card">🐘 <strong class="letter">Elephant</strong><br> The largest land mammal, with a trunk and tusks.</div>
        <div class="species-card">🦏 <strong class="letter">Rhinoceros</strong><br> Large herbivorous mammal with a horn.</div>
        <div class="species-card">🦒 <strong class="letter">Giraffe</strong><br> The tallest land mammal, with a long neck.</div>
        <div class="species-card">🦓 <strong class="letter">Zebra</strong><br> African equine with black and white stripes.</div>
        <div class="species-card">🐼 <strong class="letter">Panda</strong><br> Herbivorous mammal from China, famous for its black and white fur.</div>
</div>
    
    
</body>
</html>